/* Config. global */
* {
    margin: 0%;
    padding: 0%;
}
/* navbar */
.containerr {
    width: 1100px;
    margin: auto;
    background-color: #DDF3F0;
    color: black;
}

/* Prte 1 Header */
.container {
    max-width: 1280px;
    width: 1100px;
    margin: 0% auto;
    padding: 2%;
    border: 7px solid purple; 
}

.capa1 {
    background-color: #DDF3F0;
    border: 4px solid #DDF3F0;
    padding: 20px;
    border-radius: 40px; 
}

.superior {
    display: flex;
    justify-content: space-between;
    background-color: #DDF3F0;
}

.superior h1 {
    display: flex;
    align-items: center;
    font-size: 45px;
}

.tomas {
    border-radius: 180px;
    height: 240px;
    width: 240px;
    padding: 1.2%;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 1);
}

/* Prte 2 Header */
.capa2 {
    margin-top: 2px;
    background-color: #BFBBB4;
    border: 4px solid #BFBBB4;
    padding: 20px;
    border-radius: 40px; 
}

.inferior {
    display: flex;
    justify-content: space-between;
    background-color: #BFBBB4;
}

.inferior h1 {
    font-size: 45px;   
}

.inferior p {
    font-size: 20px;
}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo h1 {
    display: flex;
    justify-content: center;
}


/* css del video */

.video-container {
    max-width: 200px;
    margin: 20px auto;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 1);
    border-radius: 180px;
    overflow: hidden;
  }
  
  .video-container video {
    width: 200px;
    height: 200px;
    display: block;
  }


  /* main */
.main {
    display: flex;
    justify-content: space-between;
    background-color: #31312F;
    color: azure;
    max-width: 1280px;
    width: 1100px;
    margin: 0% auto;
    padding: 2%;
    border: 7px solid purple; 
}

main h4, h3, h2 {
    color: #9876A8;
}